name: Build and push docker image

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io # wich registry do you want to use ? docker.io, ghcr.io, ...
  NAMESPACE: ${{github.repository}}
  PLATFORM: linux/amd64
  TAG: v1.0.0

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2 # Follow the link to read more about this action

      - name: Login to Docker Hub
        uses: docker/login-action@v2 # Follow the link to read more about this action
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # What is this GITHUB_TOKEN ? Why is it working here ?
          logout: true

      - name: Lowercase the namespace
        run: |
          echo "NAMESPACE_LOWER=$(echo ${{env.NAMESPACE}} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: packages/streamlit/Dockerfile
          context: packages/streamlit
          platforms: ${{ env.PLATFORM }}
          push: true
          tags: "${{ env.REGISTRY }}/${NAMESPACE_LOWER}/${{ env.TAG }}"